Data from: http://www.statistikdatabasen.scb.se/pxweb/sv/ssd/START__UF__UF0529/ArbTimVd/table/tableViewLayout1/?rxid=99ed2bb1-e766-428b-961c-d2d5ee5fef48.

An example of dealing with datasets containing "total" values which results in additional datasets.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

import sys
sys.path.append('../..')
from frame2package import Frame2Package

In [3]:
df = pd.read_csv('data.csv', encoding='latin1', skiprows=1)
df.head(3)

,Antal timmar,världsdel,kön,"Svarsfördelning, procent 2009","Felmarginal, procent 2009","Svarsfördelning, antal 2009"
0,35 timmar eller mer,Norden,män,92,4,3029
1,35 timmar eller mer,Norden,kvinnor,74,7,3086
2,35 timmar eller mer,Norden,män och kvinnor,82,4,6118

In [4]:
df = df.rename(columns={
    'Antal timmar': 'no_hours',
    'världsdel': 'region',
    'kön': 'sex',
    'Svarsfördelning, procent 2009': 'percent',
    'Felmarginal, procent 2009': 'error_margin',
    'Svarsfördelning, antal 2009': 'people'
})

In [5]:
#percent--by--no_hours--region--sex
#percent--by--no_hours--region

In [6]:
df.head(3)

              no_hours  region              sex percent error_margin people
0  35 timmar eller mer  Norden              män      92            4   3029
1  35 timmar eller mer  Norden          kvinnor      74            7   3086
2  35 timmar eller mer  Norden  män och kvinnor      82            4   6118

In [7]:
# Map all variables and their types
concepts = [
    {'concept': 'region', 'concept_type': 'entity_domain'},
    {'concept': 'sex', 'concept_type': 'entity_domain'},
    {'concept': 'no_hours', 'concept_type': 'entity_domain'},
    {'concept': 'people', 'concept_type': 'measure'},
    {'concept': 'error_margin', 'concept_type': 'measure'},
    {'concept': 'percent', 'concept_type': 'measure'},
]

In [8]:
f2p = Frame2Package(df, concepts, totals={'sex': 'män och kvinnor'})

In [9]:
f2p.to_package('ddf')

100%|██████████| 10/10 [00:00<00:00, 101.55it/s]