In [1]:
%load_ext autoreload
%autoreload 2

In [93]:
import pandas as pd

import sys
sys.path.append('../..')
from frame2package import Frame2Package

In [94]:
concepts = [
        {
                'concept': 'country',
                'concept_type': 'entity_domain'
        },
        {
                'concept': 'capital',
                'concept_type': 'entity_domain'
       },
        {
                'concept': 'population',
                'concept_type': 'measure'
       }
]

In [107]:
import numpy as np

In [118]:
df = pd.DataFrame([
    {
        'country': 'sweden',
        'capital': 'Stockholm',
        'population': 10
    },
    {
        'country': 'norway',
        'capital': 'Oslo',
        'population': 15
    },
    {
        'country': None,
        'capital': 'BLuff',
        'population': 888
    },
])

In [176]:
f2p = Frame2Package()

In [177]:
f2p.add_data(df, concepts)

In [178]:
f2p.to_package('ddf', attrs={'author': 'Datastory'})

  0%|          | 0/5 [00:00<?, ?it/s]








100%|██████████| 5/5 [00:00<00:00, 162.04it/s]

In [145]:
_

  country    capital  population
0  sweden  stockholm          10
1  norway       oslo          15
2    None      bluff         888

In [134]:
_ = f2p.data[0].tables[0][1]

In [144]:
list(_.columns[_.isnull().any()])

['country']